/*Frame body and html element to fit entire page*/
html, body {
	height: 100%;
	width: 100%;
}

/*Positions container and crosshair div over canvas space
  Sets cursor in canvas to crosshair*/
.container {
  position: relative;
}
.crosshair {
  width: 699px;
  height: 499px;
  position: absolute;
  cursor: crosshair;
}



/*Landing Page Styles */

/*Positions and sizes images to fit on landing page*/
#logo {
	height: 90px;
	width: auto;
}

#portal {
	height: 300px;
	width: auto;
	position: absolute;
	top: 150px;
	right: 250px;
}

/*Moves title up to fit closer to logo*/
h1 {
	margin-top: 0;
}

/*Links background img to gif hosted on giphy.com(Unable to get working gif when saved
  locally. Will update to ensure background is not removed*/
.landing {
	background: url(https://media.giphy.com/media/3rt6DMbY43be8/giphy.gif);
	background-size: cover;
}

/*Size, position, and color of title*/
.header {
	font-family: "Press Start 2P";
	color: #00ff00;
	text-align: center;
	font-size: 50px;
}

/*Centers button*/
.play {
	text-align: center;
}

/*Positions button off-center to align better with image,
  makes border transparent, and designated font styles*/
#playButton {
	position: relative;
	right: 250px;
	top: 40px;
	font-family: "Press Start 2P";
	font-size: 50px;
	color: #02afc5;
	background-color: transparent;
	border: 1px solid transparent;
}


/*Game Page Styles*/

.gamePage {
	background-color: black;
}

/*Adds canvas border, background image before animations, and contains 
  image to the background size without repeating. Working to resize image
  to full container space rather than leaving blank space at bottom*/

#canvas {
	border: 1px solid black;
	background: url(../img/meseeks_background.png) no-repeat;
	background-size: contain;
}



/*Sizes and position div containing canvas, background color set to look better
  until starting canvas background image can be sized to fit full container*/
.gamePort {
	width: 700px;
	height: 500px;
	background-color: black;
	background-size: cover;
	display: inline-block;
	float: left;

}

/*Sets black background for dashboard for cleaning look,
  Displays all contents inline-block for style, and sets width
  to calculate fitting full width not occupied by canvas*/
.dashboard {
	background-color: black;
	display: inline-block;
	width: calc(100% - 700px);
	height: 499px;
	float: right;

}

/*Assign background img, font styles, width dimensions for style*/
.message {
	font-family: "Press Start 2P";
	color: #00ff00;
	text-shadow: 0 0 3px #00ff00;
	background: url('../img/dashboard_2.jpg');
	background-size: cover;
	display: inline-block;
	width: 48%;
	height: 50%;
}

/*Center message contents in div, set top padding to push toward center*/
.roundMessage {
	text-align: center;
	font-family: "Press Start 2P";
	color: #02afc5;
	text-shadow: 0 0 3px #00ff00;
	font-size: 50px;
	padding-top: 30px;
	height: 100%;
}

/*Assign background img, display inline-block to style next to message div,
  font styles, */
.scoreBoard {
	font-family: "Press Start 2P";
	color: #00ff00;
	text-shadow: 0 0 3px #00ff00;
	background: url('../img/dashboard_1.jpg');
	background-size: cover;
	display: inline-block;
	width: 48%;
	height: 50%;
}

/*Center text in div, top padding to push toward center, 
  assign font styles*/
.playerScore {
	text-align: center;
	font-family: "Press Start 2P";
	color: #02afc5;
	text-shadow: 0 0 3px #00ff00;
	font-size: 50px;
	padding-top: 30px;
}

/*assign background img, font styles, height dimension to fit within dashboard*/
.round {
	font-family: "Press Start 2P";
	color: #00ff00;
	text-shadow: 0 0 3px #00ff00;
	background: url('../img/dashboard_3.jpg');
	background-size: cover;
	height: 50%;
}

/*Centers text, tp padding to push toward center, assigns font styles*/
.roundCount {
	text-align: center;
	font-family: "Press Start 2P";
	line-height: 2;
	color: #ffffff;
	text-shadow: 0 0 4px #00ff00;
	font-size: 15px;
	padding-top: 10px;
}

/*Margin keeps labels of dashboard divs at top just below top border*/
h4 {
	margin-top: 2px;
}

/*Assign font styles, width and height dimensions, background color
  clears to push div below all other content*/
.textScroll {
	color: #00ff00;
	text-shadow: 0 0 2px #00ff00;
	width: 100%;
	height: 150px;
	padding: 50px 20px;
	background-color: #000000;
	clear: both;
}

/*STYLE AND ANIMATION EFFECTS FOR SCROLLING TEXT FEATURE
  EACH LINE OF TEXT HAS A SET DELAY FOR SMOOTH AND READABLE TRANSITIONS
  OVERFLOW HIDDEN KEEPS TEXT HIDDEN UNTIL CURSOR HAS MOVED PAST THAT POINT*/
.narrator{   
    font-family: "Press Start 2P";
    font-size: 10px;
    width: 150em;
    white-space:nowrap;
    overflow:hidden;
    animation: type 5s steps(100, end);
}

.narrator:nth-child(2){
    white-space:nowrap;
    overflow:hidden;    
    opacity:0;
    animation: type2 5s steps(100, end);
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

.narrator:nth-child(3){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    animation: type3 5s steps(100, end);
    animation-delay: 9s;
    animation-fill-mode: forwards;
}

.narrator:nth-child(4){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    animation: type3 5s steps(100, end);
    animation-delay: 12s;
    animation-fill-mode: forwards;
}

.narrator:nth-child(5){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    animation: type3 5s steps(100, end);
    animation-delay: 17s;
    animation-fill-mode: forwards;
}

.narrator:nth-child(6){
    white-space:nowrap;
    overflow:hidden;
    opacity:0;
    animation: type3 5s steps(100, end);
    animation-delay: 21s;
    animation-fill-mode: forwards;
}

 @keyframes type{
    from { width: 0; }
}

@keyframes type2{
0%{width: 0;}
from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}

@keyframes type3{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
} 
 
@keyframes type4{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
}  

@keyframes type5{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
} 

@keyframes type6{
  0%{width: 0;}
  from {opacity:0;}
1%{opacity:1;}
to{opacity:1;}
100%{opacity:1;}
} 

@media (max-width: 700px) {
	.gameport {
		width: 100%;
		height: 100%;
	}
}