html, body {
	height: 100%;
	width: 100%;
}



/*Landing Page Styles */

/*Centers all content/Set font-styles and sizes for landing page/
  style and position social media links */
.landing {
	background: url(https://media.giphy.com/media/3rt6DMbY43be8/giphy.gif);
	background-size: cover;
}

.header {
	font-family: "Press Start 2P";
	color: #12B127;
	text-align: center;
	font-size: 50px;
}

.play {
	text-align: center;
}

#playButton {
	font-family: "Press Start 2P";
	font-size: 50px;
	color: #FB130F;
	background-color: transparent;
	border: 1px solid black;
}

.socialLinks {
	text-align: center;
	margin-top: 40px;
}


.twitter {
	display: inline-block;
	margin: 0 auto;
	padding: 0 20px;
}

#twitterLogo {
	height: 35px;
	width: auto;
}

.facebook {
	display: inline-block;
	margin: 0 auto;
	padding: 0 20px;
}

#fbLogo {
	height: 40px;
	width: auto;
}

/*Game PAge Styles*/

/*Adds canvas border*/

#canvas {
	border: 1px solid black;
}



/*Sizes and position */
.gamePort {
	width: 700px;
	height: 500px;
	background-color: black;
	background-size: cover;
	display: inline-block;
	float: left;

}

.dashboard {
	background-color: gray;
	display: inline-block;
	width: calc(100% - 700px);
	height: 499px;
	float: right;

}

.missileCount {
	color: white;
	background: url('../img/dashboard_1.jpg');
	background-size: cover;
	display: inline-block;
	width: 48%;
	height: 48%;
	padding: 0 5px;
	
}

.scoreBoard {
	color: white;
	background: url('../img/dashboard_2.jpg');
	background-size: cover;
	display: inline-block;
	width: 48%;
	height: 48%;
	padding: 0 5px;

}

.timer {
	color: white;
	background: url('../img/dashboard_3.jpg');
	background-size: cover;
	height: 50%;
}

h4 {
	margin-top: 2px;
}


.textScroll {
	width: 100%;
	height: 150px;
	background-color: green;
	clear: both;
}